<!DOCTYPE html>
<html>
  <head>
    <title>Fakta!</title>
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/awsm.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      <article>
        <h1>Fakta!</h1>
        <p>Daftar fakta yang diingat botan</p>
        </pre>
        <table>
          <thead>
            <tr>
              <th class="fact">Fakta</th>
              <th class="content">Isi</th>
            </tr>
          </thead>
          <tbody>
           {{#each facts}}
           <tr>
             <td class="mono fact">!{{name}}</td>
             <td class="content">{{content}}</td>
           </tr>
           {{/each}}
         </tbody>
        </table>
      </article>
    </main>
  </body>
</html>