<!DOCTYPE html>
<html>
  <head>
    <title>Kelihatan!</title>
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/awsm.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      <article>
        <h1>Kelihatan!</h1>
        <p>Pesan terakhir yang direkam oleh botan</p>
        </pre>
        <table>
          <thead>
            <tr>
              <th>Time</th>
              <th>Nick</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
           {{#each last_message}}
           <tr>
             <td>{{#ftime time}}{{/ftime}}</td>
             <td class="mono">{{nick}}</td>
             <td>{{message}}</td>
           </tr>
           {{/each}}
         </tbody>
        </table>
      </article>
    </main>
  </body>
</html>